@import url(html4css1.css);

body {
  background: white;
  font-family: verdana, arial, helvetica, sans-serif;
  margin: 0px;
  padding: 6px;
}

h1, h2 {
  color: #333333;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0.0em;
}

p {
  margin-top: 0.5em;
  text-align: justify;
}

